<div class="main shops-edit">
  <div class="container">
    <div class="form-heading">ショップ情報の編集</div>
    <div class="form shops-form">
      <div class="form-body">
        <%= form_tag("/shops/#{@shop.id}/update", {multipart: true}) do %>
            <% @shop.errors.full_messages.each do |message| %>
              <%= message %>
            <% end %>
            <p>ショップ名</p>
            <input name="name" value=<%= @shop.name %>>
            <p>ショップURL</p>
            <input name="url" value=<%= @shop.url %>>
            <p>メールアドレス</p>
            <input name="email" value="<%= @shop.email %>">
            <p>アイコン</p>
            <input name="icon" type="file">
            <%= link_to("placeholderを設定していない理由(外部サイト)", "https://u-site.jp/alertbox/form-design-placeholders", class: "link") %> <br>
            <%= link_to("パスワードのリセット", "/shops/#{@shop.id}/password_reset") %> <br>
            <%= link_to("削除", "/shops/#{@shop.id}/destroy", {method: "post"}) %>
            <input type="submit" value="登録">
        <% end %>
      </div>
    </div>
  </div>
</div>