<div class="main shops-edit">
  <div class="container">
    <div class="form-heading">ショップ情報の編集</div>
    <div class="form shops-form">
      <div class="form-body">
        <%= form_tag("/shops/#{@shop.id}/update", {multipart: true}) do %>
            <% @shop.errors.full_messages.each do |message| %>
              <%= message %>
            <% end %>
            <p>ショップ名</p>
            <input name="name" placeholder="D2Correct" value=<%= @shop.name %>>
            <p>ショップURL</p>
            <input name="url" placeholder="https://www.d2correct.com/" value=<%= @shop.url %>>
            <p>メールアドレス</p>
            <input name="email" placeholder="d2correct@gmail.com" value="<%= @shop.email %>">
            <p>アイコン</p>
            <input name="icon" type="file">
            <%= link_to("パスワードのリセット", "/shops/#{@shop.id}/password_reset") %>
            <input type="submit" value="登録">
        <% end %>
      </div>
    </div>
  </div>
</div>