<div class="main shops-index">
  <div class="search-container">
    <div class="search-form">
      <%= form_tag("/shops/index") do %>
        <input type="search" placeholder="ショップ名で検索" name="keyword">
        <input type="submit" value="検索">
      <% end %>
    </div>
    <% if @result_amount == 0 %>
      <div class="result-amount-error">
        <p>検索キーワードがあてはまるショップは見つかりませんでした</p>
      </div>
    <% else %>
      <div class="result-amount">
        <p><%= @result_amount %>件</p>
      </div>
    <% end %>
  </div>
  <div class="genre-container">
    <% if @search_genre %>
      <p>絞り込みジャンル: <%= @search_genre.name %></p>
      <p><%= link_to("ジャンルリセット", "/shops/search_genre_reset", {method: "post"}) %></p>
    <% end %>
    <%= form_tag("/shops/index") do %>
      <% @genres.each do |genre| %>
        <input type="radio" name="genre" value="<%= genre.id %>"><%= genre.name %>
      <% end %>
      <input type="submit" value="次へ">
    <% end %>
  </div>
  <div class="container">
    <% if @shops %>
      <% @shops.each do |shop| %>
          <div class="shops-index-item">
              <div class="shop-left">
                <img src="<%= "/shop_icons/#{shop.icon_name}" %>">
              </div>
              <div class="shop-right">
                <%= link_to(shop.name, "/shops/#{shop.id}") %>
              </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>