<div class="main shop-show">
  <div class="container">
    <div class="shop">
      <h1><%= @shop.name %></h2>
      <p class="shop-show-url">
        <%= link_to("公式サイト", @shop.url)%>
      </p>
      <ul>
        <% @shop_genres.each do |shop_genre| %>
          <li>
            <%= shop_genre.genre %>
          </li>
        <% end %>
      </ul>
      <% if @current_shop && @current_shop.id == params[:id].to_i || session[:admin] %>
        <%= link_to("編集", "/shops/#{@shop.id}/edit") %>
        <%= link_to("削除", "/shops/#{@shop.id}/destroy", {method: "post"}) %>
        <%= link_to("ジャンル追加", "/shops/#{params[:id]}/add_genre") %>
        <%= link_to("ジャンル削除", "/shops/#{params[:id]}/remove_genre") %>
      <% end %>
    </div>
    <div class="review">
      <div class="review-form">
        <%= form_with :url => {controller:"shops", action:"add_review"} do |f| %>
          <h2>レビュー投稿</h2>
          <%= f.text_area :content, :size=>"40x5" %>
          <%= f.submit %>
        <% end %>
      </div>
      <div class="review-show">
        <h2>レビュー一覧</h2>
        <% @reviews.each do |review| %>
          <li>
            <%= User.find_by(id:review.user_id).username + ":" %>
            <%= review.content %>
            <% if @current_user && @current_user.id == review.user_id || session[:admin] %>
              <%= link_to("削除", "/shops/#{@shop.id}/#{review.user_id}/#{review.id}/remove_review", {method: "post"}) %>
            <% end %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</div>