<div class="main shop-show">
  <div class="container">
    <div class="shop">
      <h1><%= @shop.name %></h1>
      <p class="shop-show-url">
        <%= link_to("公式サイト", @shop.url)%>
      </p>
      <ul>
        <% @shop_genres.each do |shop_genre| %>
          <li>
            <%= shop_genre.genre %>
          </li>
        <% end %>
      </ul>
      <% if @current_shop && @current_shop.id == params[:id].to_i || session[:admin] %>
        <%= link_to("情報編集", "/shops/#{@shop.id}/edit") %>
        <%= link_to("ショップページ編集", "/shops/#{params[:id]}/content_edit") %>
      <% end %>
    </div>
  </div>
  <div class="container shop-content">
    <% if @shop.content %>
      <%= markdown(@shop.content) %>
    <% end %>
  </div>
  <div class="container">
    <h3>商品一覧</h3>
    <div class="shop-item">
      <% @items.each do |item| %>
        <div class="shop-item-content">
          <img src="<%= "/item_icons/#{item.icon_name}" %>">
          <p><%= item.name %></p>
          <p><%= item.content %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container shop-review">
    <div class="shop-review-form">
      <%= form_with :url => {controller:"shops", action:"add_review"} do |f| %>
        <% if @current_user %>
          <h3>レビュー投稿</h3>
        <% else %>
          <h3>レビュー投稿 <span>[ログイン]</span></h3>
          <%= f.text_area :content, :size=>"40x5" %>
          <%= f.submit "投稿" %>
        <% end %>
      <% end %>
    </div>
    <% if @reviews.count > 0 %>
      <div class="shop-review-show">
        <h3>レビュー一覧</h3>
        <% @reviews.each do |review| %>
          <li>
            <%= User.find_by(id:review.user_id).username + ":" %>
            <%= review.content %>
            <% if @current_user && @current_user.id == review.user_id || session[:admin] %>
              <%= link_to("削除", "/shops/#{@shop.id}/#{review.user_id}/#{review.id}/remove_review", {method: "post"}) %>
            <% end %>
          </li>
        <% end %>
      </div>
    <% end %>
  </div>
</div>