<div class="main users-new">
  <div class="container">
    <h1 class="form-heading">登録する</h1>
    <div class="form">
      <div class="form-body">
        <%= form_tag("/users/create", {multipart: true}) do %>
          <% @user.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            <div>
          <% end %>
          <p>ユーザー名 <span>[必須]</span></p>
          <input name="username" value="<%= @user.username %>">
          <p>メールアドレス <span>[必須][ログイン用]</span></p>
          <input name="email" value="<%= @user.email %>">
          <p>パスワード　<span>[必須][ログイン用]</span></p>
          <input name="password" type="password" value="<%= @user.password %>">
          <p>アイコン</p>
          <input name="icon" type="file">
          <%= link_to("placeholderを設定していない理由(外部サイト)", "https://u-site.jp/alertbox/form-design-placeholders", class: "link") %>
          <input type="submit" value="登録">
        <% end %>
      </div>
    </div>
  </div>
</div>