<div class="main users-login_form">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <div class="form shops-form">
      <div class="form-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <p>メールアドレス</p>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <p>パスワード</p>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.label :remember_me %>
              <%= f.check_box :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "ログイン" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>