<!DOCTYPE html>
<html>
  <head>
    <title>D2CCollect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="header-logo">
      <%= link_to("D2Correct", "/") %>
    </div>
    <ul class="header-menus">
      <li>
        <%= link_to("D2Correctとは", "/about") %>
      </li>
      <li>
        <%= link_to("D2C List", "/shops/index") %>
      </li>
      <li>
        <%= link_to("D2Cサイト登録", "/shops/new") %>
      </li>
    </ul>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
